<form action="answer">
  <div class="input-group mb-3">
  <input type="text" name="question" class="form-control" placeholder="Ask a question">
  <div class="input-group-append">
    <input class="btn btn-primary px-4" type="submit" value="Ask!">
  </div>
</div>
</form>

